/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

html {
      font-size: 16px;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  background-color: #333333;
  margin: 0;

}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px #191919;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #702f54;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #572441;
}


img {
    max-height: 100%;
    max-width: 100%;
}

figure {

}

a {

}

h1 {

      font-family: 'Source Code Pro', monospace;

}

h2 {
      font-family: 'Source Code Pro', monospace;

}

h3 {
      font-family: 'Source Code Pro', monospace;

}

h4 {
    font-family: 'Source Code Pro', monospace;

}

p {

    font-family: 'Roboto', sans-serif;

}

address {

}

email {

}

.content-wrapper {
    height: 100vh;
    margin: 100px auto;
    min-width: 0;
}

/* ---- General Base Header - Footer Styles ----- */



header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../img/joshua-reddekopp.jpg");

}

header img {
  height: 100px;
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
}

#navbar {
  width: 100%;
  margin-right: 20px;
  align-items: center;
}

#navbar a {
  width: 100%;
  position: relative;
  justify-content: space-around;
  margin-left: auto;
}

#navbar nav {
  padding-top: 60px;

}


/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


header nav {
  /*--- background-color: #ea7704; ---*/
  position: relative;
  justify-content: space-around;
  margin-left: auto;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav {
  height: 2vh;
  margin-bottom: 0;
  width: 100%;

  /*---- background: #5b78c7; -----*/
}

.nav-links {
  display: flex;
   list-style: none;
   width: 50%;
   height: 100%;
   justify-content: space-around;
   align-items: center;
   margin-left: auto;
}
 .nav-links li a {
   color: white;
   text-decoration: none;
   font-size: 16px;
 }

 .nav-links li a:hover {
   color: #edb200;
 }

/* Rounded border */
hr.solid-border {
  border-top: 10px solid #331a1e;
  margin: 0;
  background-color: #331a1e;

}

main {
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 100%;
    min-width: 200px;
    flex-wrap: nowrap;
}

/* General Hero Area----- */

.hero-area {
 display:flex;
 justify-content: center;
 flex-flow: row wrap;
 background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../img/joshua-reddekopp.jpg");
 background-attachment: fixed;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 align-items: center;
 background-color: black;
 width: 100vw;
 height: 100vh;
 text-align: center;

}

.hero-area h1,h2,h3 {

 color: #fdf8f6;

}

.hero-area h1 {
 font-size: 3.5em;
 margin-top: 30%;
 margin-bottom: 0;
}

.hero-area h2 {
 margin-top: 0;
 margin-bottom: 5em;
}

.hero-area h3 {
 font-size: 2em;
 margin-top: 0;
 margin-bottom: 4em;
}

.hero-area span {
 color: #e05ea8;
}

.hero-area span:hover {
  color: #edb200;
}

/* ----- Mouse Scroll One ----- */
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 10%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

.demo a {
  position: absolute;
  bottom: 0;
  left: 45%;
  z-index: 2;
  display:inline-flex;
  -webkit-transform: translate(0,-50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section06 a {
  padding-top: 70px;
  align-items: center;
}
#section06 a span {
  position: absolute;
  align-items: center;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* ------- General Hero Ends ------- */


/* -------- General Portfolio Starts -------- */

 .my-portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("../img/markus-codes.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  background-color: black;
	margin: 0;
			/*background: gray;*/
	padding: 20px;
	border-bottom: 2px solid #ddd;

}

.my-portfolio p span{
    display: flex;
		font-size: 50px;
		margin: 0 5px 0;
		cursor: pointer;
		color: #555;
		width: 30px;
		height: 30px;
		line-height: 19px;
		text-align: center;
		border-radius: 3px;
}
		.my-portfolio p span:hover{
			background: #222;
    		color: white;
		}
/*---- General Portolio Ends ----- */

/* Rounded border */
hr.solid-border-two {
  border-top: 10px solid #191919;
  margin: 0;
  width: 100%;
  background-color: #191919;

}


/*-------- General About Me ----- */


    aside  {
      display: flex;
      position: relative;
      justify-content: center;
      align-items:center;
      flex-flow: column;
      background-image: url("../img/about-me.png");
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      align-items: center;
      width: 100vw;
      min-height: 100%;
      text-align: center;
    	margin: none;
    			/*background: gray;*/
    	padding:none;
    	border-bottom: solid #ddd;

    }

  /*----- "About me" images code under HTML code ---------- */


/*--- General "Tech Services" -- */

   .tech-services .service-links{
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-flow: column;
    background-image: url("../img/volodymy.jpg");
    width: 100vw;
    min-height: 100%;
    background-color: grey;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    width: 100vw;
    min-height: 100%;
    text-align: center;
    margin: none;
        /*background: gray;*/
    padding:none;
    border-bottom: solid #ddd;

  }


/*----- General Footer ------- */

footer{
 display: flex;
 position: relative;
 margin-bottom: 0;
 bottom: 0;
 width: 100%;
 height: 300px;
 justify-content: center;
 align-items: center;
 flex-flow: row wrap;

}

footer p {

}

footer .content-wrapper {
     width: 55%;
     margin: 50px 0;
   }



   footer .contact {
     margin-bottom: 50px;
     text-align: center;

   }

   footer .social {

   }

   footer .social-icons {
     display: flex;
     justify-content: space-around;
     align-items: center;
   }

   footer .social-icons p {
     display: flex;
     justify-content: center;
     align-items: center;
   }

   footer .copyright {
     margin: 20px 0;
   }


/* ------ Mobile First - Homepage --------- */

/* Header and Nav Area for Mobile First Design */
  @media only screen and (max-width: 768px){

#navbar nav {
  margin-top: 50px;
}

  .menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}

  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

    nav {
      position: relative;
    }

    .menu-btn{
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(0, -60%);
      transition: all .5s ease-in-out;
      z-index: 2;
    }

  .nav-links {
      position: fixed;
      background-color: #ba4e8b;
      height: 90vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -30%);
      -webkit-clip-path: circle(100px at 90% -30%);
      transition: all 1s ease-out;
      pointer-events: none;
      opacity: 96%;
}
  .nav-links.open {
      clip-path: circle(1000px at 90% -30%);
      -webkit-clip-path: circle(1000px at -30% 90%);
      pointer-events: all;
    }

  .nav-links li {
      opacity: 0;
    }
  .nav-links li a {
    font-size: 25px;
    }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
    }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
    }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
}
li.fade {
  opacity: 1;
}

/*----- Mobile My Portfolio -------- */

     .my-portfolio p span{
			font-size: 60px;
		}

    	section{
    		width: 98%;
    		height: 600px;
    		/*background: red;*/
  			display: flex;
  			align-items: center;
    		overflow-x: auto;
  }
    	section::-webkit-scrollbar{
  			display: none;
	}
    	section .project{
    	 min-width: 40%;
    		height: 45%;
  			background: #191919;
  			margin:  0 20px  0 0;
    		border-radius: 20px;
      	position: relative;
  			left: 0;
    		transition: 0.5s;

  }
    	figure{
        display: flex;
    		width: 100%;
    		height: 55%;
    		padding: 5px;
    		/*background: green;*/
    		overflow: hidden;
        margin-top: 4px;
    		margin-bottom: 2px;
 }
    	figure img{
      	width: 100%;
 }
    	.detail{
        display: flex;
    		width: 90%;
    		/*background: red;*/
    		margin: 0;
    		padding: 6px;
    		justify-content: space-between;
    		align-items: baseline;
    		height: 50px;
    		font-size: 16px;
    		color: whitesmoke;
  }
    	small
    	{
    		text-decoration: none;
    		padding: 2px 10px;
    	  font-size: 12px;
    	   margin: 5px 0 0 20px;
        color: whitesmoke;
        text-align: left;
    		}

/*---- Aside Starts ------*/


  /*---- Mobile "About me" ---*/

          .about-me h2 {
            margin-top: 0;
            color: whitesmoke;
            font-size: 2em;
            background-color: #191919;

      }

          .center-left p {
            font-size: 1em;
            font-style: oblique;
            font-weight: bolder;
            text-align: left;
            color: #191919;
      }

          .center-left {
            width: 30%;
            position: relative;
            text-align: left;
            right: -60px;
            top: 50px;
          }

      /*----- "About me" images code under HTML code ---------- */

/* -------Aside Ends ----- */

/*-- (Mobile) Footer Starts ---- */

footer {

}

address {

}

email {
}

}


  /* --------- Mobile First Ends ----------- */

  @media only screen and (min-width:768px) {
          /*Tablet styles Starts*/


/* ---- Mouse Scroll One Tablet ---*/

      .demo a {
        left: 46%;
      }

  /*----- Tablet My Portfolio -------- */
      .my-portfolio h2{
        font-size: 3em;
      }
       .my-portfolio p span{
  			font-size: 60px;
  		}

      	section{
      		width: 98%;
      		height: 600px;
      		/*background: red;*/
    			display: flex;
    			align-items: center;
      		overflow-x: auto;
    }
      	section::-webkit-scrollbar{
    			display: none;
  	}
      	section .project{
      	 min-width: 40%;
      		height: 60%;
    			background: #191919;
    			margin:  0 20px  0 0;
      		border-radius: 20px;
        	position: relative;
    			left: 0;
      		transition: 0.5s;
    }

      	figure{
          display: flex;
      		width: 100%;
      		height: 80%;
      		padding: 3px;
      		/*background: green;*/
      		overflow: hidden;
          margin-top: 4px;
   }
      	figure img{
        	width: 100%;
          margin: 0;
   }
      	.detail{
          display: flex;
      		width: 90%;
      		/*background: red;*/
      		margin: 0;
      		padding: 3px;
      		justify-content: space-between;
      		align-items: baseline;
      		height: 30px;
      		font-size: 16px;
      		color: whitesmoke;
    }
      	small
      	{
      		text-decoration: none;
      		padding: 2px 10px;
      	  font-size: 12px;
      	   margin: 5px 0 0 20px;
          color: whitesmoke;
          text-align: left;
      		}

/*-------- Tablet About Me ----- */

              .about-me h2 {
                margin-top: 0;
                color: whitesmoke;
                font-size: 2.2em;
                background-color: #191919;

          }

              .center-left p {
                font-size: 1.2em;
                font-style: oblique;
                font-weight: bolder;
                text-align: left;
                color: #191919;
          }

              .center-left {
                width: 30%;
                position: relative;
                text-align: left;
                left: 140px;
                top: 140px;
          }


}
/* -----Design For Tablet Ends ------- */


/* ----- Design For Desktop Starts ------ */

@media only screen and (min-width: 1200px){

/* ---- Mouse Scroll One Desktop ---*/

        .demo a {
        left: 48%;
          }



  /*--- Desktop My Portfolio --- */

      .my-portfolio h2{
        font-size: 3em;
      }
       .my-portfolio p span{
        font-size: 60px;
      }

        	section{
      			width: 80%;
      			height: 600px;
      			/*background: red;*/
      			display: flex;
      			align-items: center;
      			overflow-x: auto;
      		}

      		section::-webkit-scrollbar{
      			display: none;
      		}

      		section .project{
      			min-width: 24%;
      			height: 60%;
      			background: #191919;
      			margin:  0 20px  0 0;
      			border-radius: 20px;
      			position: relative;
      			left: 0;
      			transition: 0.5s;

      		}
      		figure{
      			width: 100%;
      			height: 70%;
      			padding: 20px;
      			/*background: green;*/
      			display: flex;
      			overflow: hidden;
      			margin-bottom: 20px;
      		}
      		figure img{
      			width: 100%;
      		}
      		.detail{
      			width: 90%;
      			/*background: red;*/
      			margin: auto;
      			padding: 5px;
      			display: flex;
      			justify-content: space-between;
      			align-items: center;
      			height: 50px;
      			font-size: 20px;
      			color: whitesmoke;
      		}
      		small
      		{
      			text-decoration: none;
      			padding: 6px 14px;
      		    font-size: 15px;
      		    margin: 5px 0 0 20px;
      		    color: whitesmoke;
      		}

/*-------- Desktop About Me ----- */

    .about-me h2 {
      margin-top: 0;
      color: whitesmoke;
      font-size: 3em;
      background-color: #191919;

}

    .center-left p {
      font-size: 2.2em;
      font-style: oblique;
      font-weight: bolder;
      text-align: left;
      color: #191919;
}

    .center-left {
      width: 30%;
      position: relative;
      text-align: left;
      left: 140px;
      top: 140px;
}



  /*----- "About me" images code under HTML code ---------- */


  /* -------Section For Desktop Ends --------------------- */

  /* ----------Aside For Desktop Starts ------------------- */

  aside  {


  }

  .about-me {

  }

  /* -----------Aside (Desktop) Ends --------------------- */

  /* ----------- Footer (Desktop) Starts --- */

  footer {

  }

  address {

  }

  email {

  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
