/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   :root {
     --dark-one: #333;
     --dark-two: #7a7a7a;
     --main-color: #e05ea8;
     --light-one: #fff;
     --light-two: #f9fafb;
     --light-three: #f6f7fb;
   }

   *,
   *::before,
   *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

html{
      font-size: 16px;
      height: 100%;
}

html,body {
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    overflow-x:hidden;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  background-color: #333333;
  margin: 0;

}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px #191919;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #702f54;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #572441;
}


img {
    max-width: 100%;
    max-height: 100%;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



h1 {

      font-family: 'Source Code Pro', monospace;

}

h2 {
      font-family: 'Source Code Pro', monospace;

}

h3 {
      font-family: 'Source Code Pro', monospace;

}

h4 {
    font-family: 'Source Code Pro', monospace;

}

p {

    font-family: 'Roboto', sans-serif;

}



.container {
  position: relative;
  z-index: 5;
  max-width: 92rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1.25rem;
  color: var(--dark-two);
  line-height: 1.6;
}

.column-1 {
  margin-right: 1.5rem;
}

.column-2 {
  margin-left: 1.5rem;
}

.image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.z-index {
  position: relative;
  z-index: 2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.overlay .shape {
  width: initial;
  opacity: 0.13;
  position: absolute;
}

.overlay.overlay-lg .shape {
  height: 55px;
}

.overlay.overlay-lg .shape.wave {
  height: initial;
  width: 88px;
}

.overlay.overlay-lg .shape.xshape {
  height: 38px;
}

.overlay.overlay-sm .shape {
  filter: brightness(0) invert(1);
  opacity: 0.15;
  height: 40px;
}

.overlay.overlay-sm .shape.wave {
  height: initial;
  width: 70px;
}

.overlay.overlay-sm .shape.xshape {
  height: 30px;
}

.points {
  opacity: 0.3;
  position: absolute;
}

.section {
  padding: 7rem 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 2.8rem;
  margin-bottom: 0.6rem;
}

.title:before {
  content: attr(data-title);
  display: block;
  margin-bottom: 0.4rem;
  color: var(--main-color);
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title:after {
  content: "";
  position: absolute;
  width: 90px;
  height: 5px;
  border-radius: 3px;
  background-color: var(--main-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-header .text {
  max-width: 600px;
  margin: 0 auto;
}

.title-sm {
  color: var(--dark-one);
  font-weight: 600;
  font-size: 1.6rem;
}

.points-sq {
  width: 210px;
}


.btn {
  display: inline-block;
  padding: 0.85rem 2rem;
  background-color: var(--main-color);
  color: var(--light-one);
  border-radius: 2rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e05ea8;
}

.btn.small {
  padding: 0.7rem 1.8rem;
  font-size: 1rem;
}

.content-wrapper {
    height: 100vh;
    margin: 100px auto;
    min-width: 0;
}

/* ---- General Base Header - Footer Styles ----- */



header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../img/joshua-reddekopp.jpg");

}



#navbar {
  width: 100%;
  margin-right: 20px;
  align-items: center;
}

#navbar a {
  width: 100%;
  position: relative;
  justify-content: space-around;
  margin-left: auto;
}

#navbar nav {
  padding-top: 60px;

}


/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


header nav {
  /*--- background-color: #ea7704; ---*/
  position: relative;
  justify-content: space-around;
  margin-left: auto;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav {
  height: 2vh;
  margin-bottom: 0;
  width: 100%;

  /*---- background: #5b78c7; -----*/
}

.nav-links {
  display: flex;
   list-style: none;
   width: 50%;
   height: 100%;
   justify-content: space-around;
   align-items: center;
   margin-left: auto;
}
 .nav-links li a {
   color: white;
   text-decoration: none;
   font-size: 16px;
 }

 .nav-links li a:hover {
   color: #edb200;
 }

/* Rounded border */
hr.solid-border {
  border-top: 10px solid #331a1e;
  margin: 0;
  background-color: #331a1e;

}

main {
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 100%;
    min-width: 200px;
    flex-wrap: nowrap;
}

/* General Hero Area----- */

.hero-area {
 display:flex;
 justify-content: center;
 flex-flow: row wrap;
 background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../img/joshua-reddekopp.jpg");
 background-attachment: fixed;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 align-items: center;
 background-color: black;
 width: 100vw;
 height: 100vh;
 text-align: center;

}

.hero-area h1,h2,h3 {

 color: #fdf8f6;

}

.hero-area h1 {
 font-size: 3.5em;
 margin-top: 30%;
 margin-bottom: 0;
}

.hero-area h2 {
 margin-top: 0;
 margin-bottom: 5em;
}

.hero-area h3 {
 font-size: 2em;
 margin-top: 0;
 margin-bottom: 4em;
}

.hero-area span {
 color: #e05ea8;
}

.hero-area span:hover {
  color: #edb200;
}


/* ------- General Hero Ends ------- */

/*--- General "Tech Services" -- */

   .tech-services{
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-flow: column;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("../img/volodymy.jpg");
    width: 100vw;
    min-height: 100%;
    background-color: grey;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    width: 100vw;
    min-height: 100%;
    text-align: center;
    margin: none;
    padding:none;
    border-bottom: solid #ddd;

  }

    .tech-services h1 {
    color: whitesmoke;
    font-size: 5em;
    margin: 0;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));s
  }


  .tech-services .content-wrapper{
    margin: 0;
}

  .services {
    width: 100vw;
    height: 60%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    border-radius: 8%;
    flex-flow: column;
    margin: 0;
    align-items: center;
  }

  .service-links h3 {
    font-size: 1.5em;
    color: whitesmoke;
  }


  .service-links .fab {
    color: white;
    margin: 3%;
    font-size: 3em;
  }

  .service-links .fas {
    color: white;
    margin: 3%;
    font-size: 3em;
  }

  /*----- .service-links .fas:hover {
    color: #e05ea8;
  }

  .service-links .fab:hover {
    color: #e05ea8; -----*/
  }
    button {
      background: none;
	    color: inherit;
	    border: none;
	    padding: 0;
	    font: inherit;
	    cursor: pointer;
	    outline: inherit;
      align-items: center;
      margin-bottom: 30px;

    }

    .btton {
    display: flex;
    flex-direction:column;
    border: none;
    background: none;
    padding: 0;
    text-decoration: none;


}

    .bttn {
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    position: relative;
    margin:32px;
}

    .bttn-1 {
      background: #000;
      color: #fff;
      border-radius: 30px;
      transition: transform 0.3s ease;
    }

    .bttn-1::after,
    .bttn-1::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #000;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

  .bttn-1:hover {
  transform: translate(-12px, -12px);
}

  .bttn-1:hover::after {
  transform: translate(6px, 6px);
}

  .bttn-1:hover::before {
  transform: translate(12px, 12px);
}

/* -------- General Portfolio Starts ------ */

.portfolio {
  position: relative;
  width: 100%;
  min-height: 100vh;

  background-color: var(--light-two);
}

.background-bg {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-flow: row wrap;
   background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("../img/markus-codes.jpg");
   background-color: var(--main-color);
   background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("../img/markus-codes.jpg");
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   align-items: center;
   width: 100vw;
   min-height:100vh;
   text-align: center;
   margin: 0;
  position: absolute;
  top: 0;
  left: 0;

}

 .portfolio .title,
.portfolio .title:before {
  color: var(--light-one);
}

.portfolio .title:after {
  background-color: var(--light-one);
}

.filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-btn {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0.45rem 0.4rem;
  padding: 0.85rem 1.8rem;
  color: var(--light-one);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1;
  cursor: pointer;
  border-radius: 2rem;
  transition: 0.3s;
}

.filter-btn.active {
  background-color: var(--light-one);
  color: var(--main-color);
}


.grid {
  width: 100%;
  margin: 1.5rem 0;
}

.grid-item {
  width: 33.33%;
  padding: 1rem 1.2rem;
  display: flex;
  justify-content: center;
}

.gallery-image {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  height: 330px;
  width: 100%;
  cursor: pointer;
}

.gallery-image img {
  position: absolute;
  height: 115%;
  width: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: 0.5s;
}

.gallery-image .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  color: var(--light-one);
  background-color: rgba(120, 76, 251, 0.55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem 3.2rem;
  opacity: 0;
  transition: 0.5s;
}

.img-overlay .plus {
  position: relative;
  margin: auto 0;
}

.plus:before,
.plus:after {
  content: "";
  position: absolute;
  width: 4.5rem;
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-one);
  border-radius: 3px;
}

.plus:before {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.img-description {
  width: 100%;
}

.img-overlay h3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.img-overlay h5 {
  font-size: 1.15rem;
  font-weight: 300;
}

.gallery-image:hover .img-overlay {
  opacity: 1;
}

.gallery-image:hover img {
  transform: translate(-50%, -50%) scale(1.1);
}

.more-folio {
  display: flex;
  justify-content: center;
}


/*---- General Portolio Ends ----- */

/* Rounded border */
hr.solid-border-two {
  border-top: 10px solid #191919;
  margin: 0;
  width: 100%;
  background-color: #191919;

}

/*-------- General About Me ----- */


    aside  {
      display: flex;
      position: relative;
      justify-content: center;
      align-items:center;
      flex-flow: column;
      background-image: url("../img/about-me.png");
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      align-items: center;
      width: 100vw;
      min-height: 100%;
      text-align: center;
    	margin: none;
    			/*background: gray;*/
    	padding:none;
    	border-bottom: solid #ddd;

    }

  /*----- "About me" images code under HTML code ---------- */


/* Start General Contact */

.contact {
  position: relative;
  width: 100%;
  padding: 13.5rem 0 8.5rem;
}

.contact h3 {
  color: black;
  font-weight: 500;
}

.contact:before,
.contact:after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 0;
}

.contact:before {
  top: 0;
  height: 40%;
  background: url("../img/map.png") center center / cover;
}

.contact:after {
  top: 40%;
  height: 100%;
  background: url("../img/contact-bg.png") center bottom / cover;
}

.contact-box {
  width: 100%;
  background-color: var(--light-one);
  width: 100%;
  border-radius: 45px;
  padding: 5.5rem 4.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-info {
  padding-right: 2rem;
}

.contact-form {
  padding-left: 2rem;
}

.contact-info .title:after {
  left: 0;
  transform: initial;
}

.information-wrap {
  margin-top: 2rem;
}

.information {
  display: flex;
  align-items: center;
}

.information:not(:last-child) {
  margin-bottom: 1.3rem;
}

.contact-icon {
  min-width: 67px;
  height: 67px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--light-one);
  text-align: center;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.contact-icon i {
  line-height: 67px;
}

.info-text {
  font-size: 1.3rem;
  display: inline-block;
}

.contact-form .title:after {
  display: none;
}

.contact-form .title {
  margin: 0;
}

.contact-form .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-column-gap: 0.6rem;
}

.contact-input {
  padding: 1.2rem 2.1rem;
  margin: 0.6rem 0;
  border: none;
  outline: none;
  background: #f3f3f3;
  border-radius: 4rem;
  font-weight: 600;
  font-size: 1.25rem;
  transition: 0.3s;
}

.contact-input::placeholder {
  font-weight: 400;
}

.contact-input.textarea {
  resize: none;
  min-height: 280px;
  border-radius: 2rem;
}

.contact-input:hover {
  background: #ececec;
}

.contact-input:focus {
  background: #eaeaea;
}

.contact-input .btn {
  margin-top: 0.6rem;
}

/* End General Contact */


/*----- General Footer ------- */

/* Hire me

.hireme {
  padding: 12rem 0;
  background-color: grey;
}

.hireme .container {
  text-align: center;
}

.hireme .title {
  margin-bottom: 1.3rem;
}

.hireme .text {
  max-width: 1000px;
  margin: 0 auto 1.6rem auto;
}

End Hire me */

/* Footer */

.footer {
  background-color: #222;
  padding: 6rem 0;
}

.footer .grid-4 {
  display: grid;
  grid-template-columns: 3.5fr 2fr 2fr 3fr;
}

.grid-4-col {
  padding: 0 1.7rem;
}

.footer .title-sm {
  color: #fafafa;
  margin-bottom: 0.9rem;
}

.footer .text {
  color: #aaa;
}

.footer-links a {
  color: #888;
  font-size: 1.25rem;
  display: inline-block;
  margin-bottom: 0.4rem;
  transition: 0.3s;
}

.footer-links a:hover {
  color: var(--main-color);
}

.footer-input-wrap {
  display: grid;
  grid-template-columns: auto 50px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 1.2rem;
}

.footer-input {
  background: #373737;
  color: #333;
  outline: none;
  border: none;
  padding: 0 1.5rem;
  font-size: 1.1rem;
  transition: 0.3s;
}

.input-arrow {
  color: #fff;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.45rem;
  transition: 0.3s;
}

.input-arrow:hover {
  background-color: #6b44e0;
}

.focus {
  background: #fff;
}

.bottom-footer {
  margin-top: 5.5rem;
  padding: 0 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright .text {
  color: #7b7b7b;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
}

.copyright .text span {
  color: var(--main-color);
  cursor: pointer;
}

.followme-wrap {
  display: flex;
}

.followme {
  display: flex;
  align-items: center;
}

.followme h3 {
  color: #7b7b7b;
  font-weight: 500;
  font-size: 1.3rem;
}

.followme .footer-line {
  width: 60px;
  height: 2px;
  background-color: #7b7b7b;
  margin: 0 1.2rem;
  display: inline-block;
}

.social-media a {
  color: #7b7b7b;
  font-size: 1.3rem;
  margin-right: 0.4rem;
  transition: 0.3s;
}

.social-media a:hover {
  color: var(--main-color);
}

.back-btn-wrap {
  position: relative;
  margin-left: 2.5rem;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  background-color: var(--main-color);
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

.back-btn:hover {
  background-color: #6b44e0;
}

.back-btn-wrap:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #fff;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  border-radius: 50%;
  opacity: 0.08;
  animation: scale 1.2s ease-out infinite 1s;
}

@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.15;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
}

/* End Footer */

/* ------ Mobile First - Homepage --------- */

/* Header and Nav Area for Mobile First Design */
  @media only screen and (max-width: 768px){

#navbar nav {
  margin-top: 50px;
}

  .menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}

  .menu-btn__burger {
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

    nav {
      position: relative;
    }

    .menu-btn{
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(0, -60%);
      transition: all .5s ease-in-out;
      z-index: 2;
    }

  .nav-links {
      position: fixed;
      background-color: #ba4e8b;
      height: 90vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -30%);
      -webkit-clip-path: circle(100px at 90% -30%);
      transition: all 1s ease-out;
      pointer-events: none;
      opacity: 96%;
}
  .nav-links.open {
      clip-path: circle(1000px at 90% -30%);
      -webkit-clip-path: circle(1000px at -30% 90%);
      pointer-events: all;
    }

  .nav-links li {
      opacity: 0;
    }
  .nav-links li a {
    font-size: 25px;
    }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
    }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
    }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
}
li.fade {
  opacity: 1;
}

/*----- Mobile My Portfolio -------- */

     .my-portfolio p span{
			font-size: 60px;
		}

    	section{
    		width: 98%;
    		height: 600px;
    		/*background: red;*/
  			display: flex;
  			align-items: center;
    		overflow-x: auto;
  }
    	section::-webkit-scrollbar{
  			display: none;
	}
    	section .project{
    	 min-width: 40%;
    		height: 45%;
  			background: #191919;
  			margin:  0 20px  0 0;
    		border-radius: 20px;
      	position: relative;
  			left: 0;
    		transition: 0.5s;

  }
    	figure{
        display: flex;
    		width: 100%;
    		height: 55%;
    		padding: 5px;
    		/*background: green;*/
    		overflow: hidden;
        margin-top: 4px;
    		margin-bottom: 2px;
 }
    	figure img{
      	width: 100%;
 }
    	.detail{
        display: flex;
    		width: 90%;
    		/*background: red;*/
    		margin: 0;
    		padding: 6px;
    		justify-content: space-between;
    		align-items: baseline;
    		height: 50px;
    		font-size: 16px;
    		color: whitesmoke;
  }
    	small
    	{
    		text-decoration: none;
    		padding: 2px 10px;
    	  font-size: 12px;
    	   margin: 5px 0 0 20px;
        color: whitesmoke;
        text-align: left;
    		}

/*---- Aside Starts ------*/


  /*---- Mobile "About me" ---*/

          .about-me h2 {
            margin-top: 0;
            color: whitesmoke;
            font-size: 1em;
            background-color: #191919;

      }

          .center-left p {
            font-size: 0.5em;
            font-style: oblique;
            font-weight: bolder;
            text-align: left;
            color: #191919;

      }

          .center-left {
            width: 30%;
            position: relative;
            text-align: left;
            right: -60px;
            top: 50px;
            z-index: 1000;
          }

      /*----- "About me" images code under HTML code ---------- */

/* -------Aside Ends ----- */

/* ---- Services ----- */

      .services {
        height: 80%;
        margin: 0;
      }

      .tech-services h1 {
        font-size: 2em;
        margin: 0;
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
      }

      .service-links h3 {
        font-size: 1em;
        margin: 10px;
      }
      .service-links .fab {
        font-size: 2em;
        margin: 8px;
}

      .service-links .fas {
       font-size: 2em;
       margin: 8px;
}

      button {
        align-items: center;
      }

      .btton {
        align-items:
      }

      .bttn {
        padding: 10px 30px;
        font-size: 1.25rem;
        position: relative;
        margin:32px;
        align-items: center;
      }

      .bttn-1 {
        font-size: 16px;
        align-items: center;
      }



/*-- (Mobile) Footer Starts ---- */

footer {

}

address {

}

email {
}

}


  /* --------- Mobile First Ends ----------- */

  @media only screen and (min-width:768px) {
          /*Tablet styles Starts*/


/* ---- Mouse Scroll One Tablet ---*/

      .demo a {
        left: 46%;
      }

  /*----- Tablet My Portfolio -------- */
      .my-portfolio h2{
        font-size: 3em;
      }
       .my-portfolio p span{
  			font-size: 60px;
  		}

      	section{
      		width: 98%;
      		height: 600px;
      		/*background: red;*/
    			display: flex;
    			align-items: center;
      		overflow-x: auto;
    }
      	section::-webkit-scrollbar{
    			display: none;
  	}
      	section .project{
      	 min-width: 40%;
      		height: 60%;
    			background: #191919;
    			margin:  0 20px  0 0;
      		border-radius: 20px;
        	position: relative;
    			left: 0;
      		transition: 0.5s;
    }

      	figure{
          display: flex;
      		width: 100%;
      		height: 80%;
      		padding: 3px;
      		/*background: green;*/
      		overflow: hidden;
          margin-top: 4px;
   }
      	figure img{
        	width: 100%;
          margin: 0;
   }
      	.detail{
          display: flex;
      		width: 90%;
      		/*background: red;*/
      		margin: 0;
      		padding: 3px;
      		justify-content: space-between;
      		align-items: baseline;
      		height: 30px;
      		font-size: 16px;
      		color: whitesmoke;
    }
      	small
      	{
      		text-decoration: none;
      		padding: 2px 10px;
      	  font-size: 12px;
      	   margin: 5px 0 0 20px;
          color: whitesmoke;
          text-align: left;
      		}

/*-------- Tablet About Me ----- */

    .about-me h2 {
     margin-top: 0;
    color: whitesmoke;
    font-size: 2.8em;
    background-color: #191919;

          }

      .center-left p {
       font-size: 1.6em;
        font-style: oblique;
        font-weight: bolder;
        text-align: left;
        color: #191919;
          }

      .center-left {
        width: 30%;
        position: relative;
        text-align: left;
        left: 140px;
        top: 140px;
        z-index: 1000;
          }
    /* ----- Service Page Starts ---- */

    .service-links {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }


    .service-links h3 {
      font-size: 2.5em;
      color: whitesmoke;
    }


    .service-links .fab {
      color: white;
      margin: 15%;
      font-size: 5em;
    }

    .service-links .fas {
      color: white;
      margin: 15%;
      font-size: 5em;
    }


}
/* -----Design For Tablet Ends ------- */


/* ----- Design For Desktop Starts ------ */

@media only screen and (min-width: 1200px){

/* ---- Mouse Scroll One Desktop ---*/

        .demo a {
        left: 48%;
          }



  /*--- Desktop My Portfolio --- */

      .my-portfolio h2{
        font-size: 3em;
      }
       .my-portfolio p span{
        font-size: 60px;
      }

        	section{
      			width: 80%;
      			height: 600px;
      			/*background: red;*/
      			display: flex;
      			align-items: center;
      			overflow-x: auto;
      		}

      		section::-webkit-scrollbar{
      			display: none;
      		}

      		section .project{
      			min-width: 24%;
      			height: 60%;
      			background: #191919;
      			margin:  0 20px  0 0;
      			border-radius: 20px;
      			position: relative;
      			left: 0;
      			transition: 0.5s;

      		}
      		figure{
      			width: 100%;
      			height: 70%;
      			padding: 20px;
      			/*background: green;*/
      			display: flex;
      			overflow: hidden;
      			margin-bottom: 20px;
      		}
      		figure img{
      			width: 100%;
      		}
      		.detail{
      			width: 90%;
      			/*background: red;*/
      			margin: auto;
      			padding: 5px;
      			display: flex;
      			justify-content: space-between;
      			align-items: center;
      			height: 50px;
      			font-size: 20px;
      			color: whitesmoke;
      		}
      		small
      		{
      			text-decoration: none;
      			padding: 6px 14px;
      		    font-size: 15px;
      		    margin: 5px 0 0 20px;
      		    color: whitesmoke;
      		}

/*-------- Desktop About Me ----- */

    .about-me h2 {
      margin-top: 0;
      color: whitesmoke;
      font-size: 5em;
      background-color: #191919;

}

    .center-left p {
      font-size: 3em;
      font-style: oblique;
      font-weight: bolder;
      text-align: left;
      color: #191919;
}

    .center-left {
      width: 50%;
      position: relative;
      text-align: left;
      left: 140px;
      top: 140px;
      z-index: 1000;
}



  /*----- "About me" images code under HTML code ---------- */


  /* -------Section For Desktop Ends --------------------- */

  /* ----------Aside For Desktop Starts ------------------- */

  aside  {


  }

  .about-me {

  }

  /* -----------Aside (Desktop) Ends --------------------- */

  /* ----------- Footer (Desktop) Starts --- */

  footer {

  }

  address {

  }

  email {

  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
